#banner {
    background-color: darkgrey;
    padding: 20px;
}

.img-portada { 
    width: 250px;
    height: 250px;
}

.texto-banner {
    display: inline-block;
    color: #FFF;
    margin-left: 20px;
}

h1 {
    font-size: 50px;
}

.info-cancion {
    display: inline-block;
}

#botones { 
    height: 60px;
    border: solid black 2px;
}

#t-numero { 
    width: 50px;
}
#t-titulo {
    width: 300px;
}
#t-album {
    width: 260px;
}
#t-fecha {
    width: 200px;
}
#t-reloj {
    width: 70px;
}
table{
    background-color: black;
    color: white;
}

img {
    height: 45px;
    width: 45px;
}

.sin-margen {
    margin: 0;
}

.titulo-cancion {
    font-size: 17px;        
}

.nombre-artista {
    margin-top: 5px;
    font-size: 13px;
}

